<!DOCTYPE html>
<html lang="en">
<style>
  /*Own CSS Elements for styling purposes*/
  .table{
   text-align: center;   
  }

  .thead-green{
    color: #fff;
    background-color: gray;
    border-color: lightgray;
  }

  .highlight{
    border:solid;
    border-color: rgb(241, 1, 1);
  }


/*centering the images*/
.img-center {
    display: block;
    margin: 0 auto;
  }

.pretty_container {
  border-radius: 5px;
  background-color: #F9F9F9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Recipes</title>
    <!--Extneral stylesheets and javascript-->

    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
  
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="../static/css/all.css">
    
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></!--script>-->
    
    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></!--script>-->
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></!--script>-->
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></!--script>-->
    <script type="text/javascript" src="../static/js/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col pretty_container" style="margin-top: 2rem;">
              <p id="r1">

              </p>
              <p id="r2">

              </p>
              <p id="r3">

              </p>
            </div>
        </div>
    </div>
</body>

<script>
  var rezepte =  {{recipe_list|tojson|safe}}
  document.getElementById('r1').innerText= rezepte[0][0].toString().split(",").join("\n");
  document.getElementById('r2').innerText= rezepte[1][0].toString().split(",").join("\n");
  document.getElementById('r3').innerText= rezepte[2][0].toString().split(",").join("\n");
</script>