<!DOCTYPE html>
<html lang="en">
<style>
  /*Own CSS Elements for styling purposes*/

  body
{
	padding: 50px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.btn-yellow{
  transition: all 0.1s !important;
	-webkit-transition: all 0.1s !important;
  position: relative !important;
	padding: 10px 40px !important;
  margin: 0px 10px 10px 0px !important;
  float: left !important;
	border-radius: 10px !important;
	font-family: 'Pacifico', cursive !important;
	font-size: 25px !important;
	color: #FFF !important;
	text-decoration: none !important;
  background-color: #F2CF66 !important;
	border-bottom: 5px solid #D1B358 !important;
	text-shadow: 0px -2px #D1B358 !important;
}

.btn-red{
  transition: all 0.1s !important;
	-webkit-transition: all 0.1s !important;
  position: relative !important;
	padding: 10px 40px !important;
  margin: 0px 10px 10px 0px !important;
  float: left !important;
	border-radius: 10px !important;
	font-family: 'Pacifico', cursive !important;
	font-size: 25px !important;
	color: #FFF !important;
	text-decoration: none !important;
  background-color: #E74C3C !important;
	border-bottom: 5px solid #BD3E31 !important;
	text-shadow: 0px -2px #BD3E31 !important;
}

.btn-yellow:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.btn-red:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


.pretty_container {
  border-radius: 5px;
  background-color: #F9F9F9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Recipes</title>
    <!--Extneral stylesheets and javascript-->

    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="../static/css/all.css">
    
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></!--script>-->
    
    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></!--script>-->
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></!--script>-->
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></!--script>-->
    <script type="text/javascript" src="../static/js/socket.io.js"></script>
</head>

<body>
  <!-- Defining layout of the page using bootstrap rows and columns-->
  <form id="form1" method="POST" action="/consume">
    <div class="container">
      <div class="row" style="margin-top:2rem">
        <div class="col">
          <button type="button" class="btn btn-lg btn-block btn-yellow" onclick="getrandomrecipe()">Shuffle</button>
        </div>
      </div>
      <div class="row" style="margin-top:2rem">
        <div class="col">
          <button type="submit" class="btn btn-lg btn-block btn-red shadow animate red" >Eat this</button>
        </div>
      </div>
      <div class="container" id="recipe_container" style="text-align: center; margin-top: 3rem;">
        <div class="row">
          <div class="col">
            <h4 id="recipe_1" style="margin-top: 1rem;"></h4>
            <input type="hidden" name="r1" id="ir1" value="z">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 id="recipe_2" style="margin-top: 1rem;"></h4>
            <input type="hidden" name="r2" id="ir2" value="y">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 id="recipe_3" style="margin-top: 1rem; margin-bottom: 1rem;"></h4>
            <input type="hidden" name="r3" id="ir3" value="x">
          </div>
        </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </form>

  
  
  <script>

    var socket = io();
    socket.on('connect', function() {
      console.log("Client_overview: socket is connected");
    });

    socket.on('reload page', function(){
      console.log('New order placed');
      location.reload();
    });

    var recipes = {{ Recipes|tojson|safe }};
    var random_recipes = [];

    function getrandomrecipe() {

      document.getElementById('recipe_container').classList.add('pretty_container');
      
      for (var i = recipes.length - 1; i > 0; i--) {
            var rand = Math.floor(Math.random() * (i + 1));
            [recipes[i], recipes[rand]] = [recipes[rand], recipes[i]]
        }
    
      document.getElementById('recipe_1').innerText = recipes[0][1];
      document.getElementById('recipe_2').innerText = recipes[1][1];
      document.getElementById('recipe_3').innerText = recipes[2][1];
      //document.getElementById('recipe_3').innerText = recipes[random_recipes[2]][1];
    }

    $("#form1").on('submit',function(e){
        var r1 = recipes[0][0];
        var r2 = recipes[1][0];
        var r3 = recipes[2][0];
        document.getElementById('ir1').value = r1;
        document.getElementById('ir2').value = r2;
        document.getElementById('ir3').value = r3;

        socket.emit('recipes choosen', {r1,r2,r3})
    });

    // var selectedTr;

    // function highlight(tr) {
    //     if (selectedTr) {
    //       selectedTr.classList.remove('highlight');
    //     }
    //     selectedTr = tr;
    //     selectedTr.classList.add('highlight');
    // }

    // document.addEventListener('click', function (e) {
    //     var table = document.getElementById("table01");
    //     if (e.target.closest('tbody')) {
          
    //       console.log('Row Clicked');
    //       highlight(e.target.closest('tr'));

    //       $("form").on('submit',function(e){
    //         document.getElementById('tr').value= selectedTr.cells[0].innerText;

    //       //socket.emit('order placed', case_col, nib_col, cap_col, ink_col, quantity);

    //       });
    //   }
    //   });
    </script>
  </body>
</html>